<div class="main-container">
  <app-header></app-header>

  <!-- Desktop Version -->

  <div class="main-content" *ngIf="desktop">
    <mat-drawer-container class="sidenav" autosize fullscreen>
      <mat-drawer
        #drawer
        class="sidenav-slide"
        mode="side"
        opened
        [class.closed]="navState === false"
      >
        <br *ngIf="navState === false" />
        <button
          type="button"
          mat-icon-button
          class="icon"
          aria-label="menu"
          (click)="toggleNav()"
          [class.closed]="navState === false"
        >
          <mat-icon *ngIf="navState">clear</mat-icon>
          <mat-icon *ngIf="navState === false">subject</mat-icon>
        </button>
        <br />
        <br />

        <mat-list role="list" class="list one">
          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #070d4d">home</mat-icon>
            <span class="label" *ngIf="navState">My Projects</span>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
        <mat-list role="list" class="list two">
          <a routerLink="notes" style="text-decoration: none">
            <mat-list-item matRipple role="list-item" class="list-item">
              <mat-icon style="color: #f7bb32">note</mat-icon>
              <span class="label" *ngIf="navState">Notes</span>
            </mat-list-item></a
          >

          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #a94064">assignment_turned_in</mat-icon>
            <span class="label" *ngIf="navState">Tasks</span>
          </mat-list-item>

          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #4cbffb">add</mat-icon>
            <span class="label" *ngIf="navState">Add</span>
          </mat-list-item>
        </mat-list>
      </mat-drawer>
      <div class="routing">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>

  <!-- Mobile Version  -->

  <div class="main-content" *ngIf="mobile">
    <mat-drawer-container class="sidenav" autosize fullscreen>
      <mat-drawer
        #drawer
        class="sidenav-slide"
        mode="side"
        opened
        [class.closed]="navState === false"
      >
        <br *ngIf="navState === false" />
        <button
          type="button"
          mat-icon-button
          class="icon"
          aria-label="menu"
          (click)="toggleNav()"
          [class.closed]="navState === false"
        >
          <mat-icon *ngIf="navState">clear</mat-icon>
          <mat-icon *ngIf="navState === false">subject</mat-icon>
        </button>
        <br />
        <br />

        <mat-list role="list" class="list one">
          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #070d4d">home</mat-icon>
            <span class="label" *ngIf="navState">My Projects</span>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
        <mat-list role="list" class="list two">
          <a routerLink="notes" style="text-decoration: none">
            <mat-list-item matRipple role="list-item" class="list-item">
              <mat-icon style="color: #f7bb32">note</mat-icon>
              <span class="label" *ngIf="navState">Notes</span>
            </mat-list-item>
          </a>

          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #a94064">assignment_turned_in</mat-icon>
            <span class="label" *ngIf="navState">Tasks</span>
          </mat-list-item>

          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #4cbffb">add</mat-icon>
            <span class="label" *ngIf="navState">Add</span>
          </mat-list-item>
        </mat-list>
      </mat-drawer>
      <div class="routing">
        <div class="banner" (click)="toggleNav()" *ngIf="navState"></div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>

  <!-- Tablet Version  -->

  <div class="main-content" *ngIf="tablet">
    <mat-drawer-container class="sidenav" autosize fullscreen>
      <mat-drawer
        #drawer
        class="sidenav-slide"
        mode="side"
        opened
        [class.closed]="navState === false"
      >
        <br *ngIf="navState === false" />
        <button
          type="button"
          mat-icon-button
          class="icon"
          aria-label="menu"
          (click)="toggleNav()"
          [class.closed]="navState === false"
        >
          <mat-icon *ngIf="navState">clear</mat-icon>
          <mat-icon *ngIf="navState === false">subject</mat-icon>
        </button>
        <br />
        <br />

        <mat-list role="list" class="list one">
          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #070d4d">home</mat-icon>
            <span class="label" *ngIf="navState">My Project</span>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
        <mat-list role="list" class="list two">
          <a routerLink="notes" style="text-decoration: none">
            <mat-list-item matRipple role="list-item" class="list-item">
              <mat-icon style="color: #f7bb32">note</mat-icon>
              <span class="label" *ngIf="navState">Notes</span>
            </mat-list-item></a
          >

          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #a94064">assignment_turned_in</mat-icon>
            <span class="label" *ngIf="navState">Tasks</span>
          </mat-list-item>

          <mat-list-item matRipple role="list-item" class="list-item">
            <mat-icon style="color: #4cbffb">add</mat-icon>
            <span class="label" *ngIf="navState">Add</span>
          </mat-list-item>
        </mat-list>
      </mat-drawer>
      <div class="routing">
        <div class="banner" (click)="toggleNav()" *ngIf="navState"></div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>
</div>
